.button{
    width: 100%;
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button:disabled {
    background-color: #888;
    cursor: not-allowed;
}