.container {
  width: 100vw;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.button-conatiner{
  display: flex;
  align-items: flex-end;
}

.search-container, .search-container h1 {
  margin-bottom: 30px;
}